/* *{border: white 1px solid;} */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  
}

body{ 
  background-color: #213547;
  color: white;
}

.title{
  margin: .5rem auto 0;
}

p{
  margin: .5rem auto;
  font-style: italic;
}



.card-table{
  display: grid;
  grid-template-columns: repeat(5, 20%);

}

.scorecard{
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;
  padding: .5rem 1rem;
  background-color: #fef188;
  color:#213547;
  border-radius: .2rem;
  
}

.score>h2, .high-score>h2{
 margin: .5rem;
 color: #d03732;
}


.emoji{
  width: 10rem;
}

@media(max-width: 1195px){
  .card-table{
  display: grid;
  grid-template-columns: repeat(3, 33%);

}
.emoji{
  width: 8rem;
}

}

.card {
  padding: 2rem 1rem;
  border: 1px solid #ffffff;
  background-color: aliceblue;
  border-radius: .5rem;
  margin: .5rem 1rem;
  box-shadow: 2px 2px 2px;
}


.touched-true{
  background-color: lightgreen;
}

.touched-loss{
  background-color: lightpink
}


@media(max-width: 680px){
 

  .emoji{
    width: 7rem;
  }
}

@media(max-width: 600px){
 

  .emoji{
    width: 6rem;
  }
}

@media(max-width: 550px){
  h1{font-size: 2.6rem;}
  h2{
    font-size: 1.3rem;
  }
  p{font-size: 1rem;
  margin-left: 3rem;
margin-right: 3rem;}
.card-table{
  display: grid;
  grid-template-columns: repeat(3, 33%);

}

.emoji{
  width: 5rem;
  /* border: black 1px solid; */
  position:relative;
  bottom: 1rem;
}
.card{
  height: 3rem;
  
}
}

@media(max-width: 500px){
.emoji{
  width: 4rem;
  /* border: black 1px solid; */
  position:relative;
  bottom: 1rem;
}
.card{
  height: 2rem;
  
}

}

@media(max-width: 450px){
.emoji{
  width: 3.5rem;
  /* border: black 1px solid; */
  position:relative;
  bottom: .8rem;
}
.card{
  height: 1.6rem;
  margin: .5rem .5rem;
  
}

}


@media(max-width: 382px){
  #root{margin: .2rem;
  padding: 0;}
h1{
  font-size: 1.8rem;
}

h2{
  font-size: 1rem;
}
p{
 font-size: .8rem;
}
.emoji{
  width: 3.5rem;
  /* border: black 1px solid; */
  position:relative;
  bottom: .8rem;
}
.card{
  height: 1.6rem;
  margin: .5rem .2rem;
  
}

}



